.board {
  width: 370px;
  height: 420px;
  display: flex; /* Box alignmnet */
  flex-wrap: wrap;
  margin: auto auto; /* center board*/
  margin-top: 100px;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
  z-index: 1;
  position: relative;
}
.board:focus {
  outline: none;
}

.board__letterContainer {
  background-color: white;
  border: 2px solid #d3d6da;
  width: 60px;
  height: 60px;
  display: flex; /* Center text */
  justify-content: center;
  align-items: center;
}

.board__letterExist {
  border: 2px solid #878a8c !important;
  animation-name: popOut;
  animation-duration: 0.1s;
}
/* Pop out Animation */
@keyframes popOut {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.board__letterContainer > h1 {
  font-family: sans-serif;
}

.board__resultGray {
  background-color: #787c7e !important;
  border: 2px solid #787c7e !important;
  color: white !important;
}

.board__resultYellow {
  background-color: #c9b458 !important;
  border: 2px solid #c9b458 !important;
  color: white !important;
}

.board__resultGreen {
  background-color: #6aaa64 !important;
  border: 2px solid #6aaa64 !important;
  color: white !important;
}
